* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;

}


h1,h2,h3,p,li, th, dl, label {
    font-family:"Gill Sans", sans-serif;
    margin:20px;
    color:white;
}

#options {
    color: white;
}

#navbar a {
    color: #000;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, black, grey);
    flex-direction: column;
    gap: 50px;
}

a {
    position: relative;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

/* Specific colors for each button */
a#memberst {
    color: #1e9bff;
}

a#groceryt {
    color: #6eff3e;
}

a#salest {
    color: #ff1867;
}


a:hover {
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px;
}

a:hover span {
    color: #fff;
}

a:before {
    content: '';
    position: absolute;
    inset: 2px;
    /*background: #27282c;*/
    color: #27282c;
}


a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before,
a i::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::before {
    top: 0;
    left: 20%;
    width: 20px;
}

a:hover i::after {
    bottom: 0;
    left: 80%;
    width: 20px;
}

/* Specific color coding for buttons */
#memberst {
    --clr: #1e9bff;
}

#groceryt {
    --clr: #6eff3e;
}

#salest {
    --clr: #ff1867;
}

footer {
    color: white;
    font-size: 1.2em;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Login Style -RSC */
#login_form {
    width: 350px;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#login_form h2 {
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

#login_form label {
    display: none;  /* Hiding labels as they aren't visible in the image */
}

#login_form input[type="text"],
#login_form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#login_form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #333e46;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#login_form a {
    text-align: center;
    display: block;
    margin: 15px 0;
    color: #1e9bff;
    text-decoration: none;
}

#login_form a:hover {
    text-decoration: underline;
}
